In [1]:
import pandas as pd

In [2]:
# Import csv
stations_to_load = "data/StationLocations.csv"

In [3]:
stations = pd.read_csv(stations_to_load)
stations.head()

        StationName   Latitude   Longitude  Elevation
0  APGAR LOOKOUT MT  48.518056 -114.020000     5179.0
1  BANNER SUMMIT ID  44.303333 -115.234444     7042.0
2  BERTHOUD PASS CO  39.805881 -105.778619    11373.0
3   BIG MOUNTAIN MT  48.508056 -114.345000     6426.0
4        BIG SKY MT  45.277222 -111.433056     9092.0